
/*-----------------------------------
	File Input
-----------------------------------*/
.fileinput-wrap{display:table; overflow:hidden; max-width:100%; border-radius:5px 0 0 5px; margin-bottom:10px;}
	.fileinput-btn{display:table-cell; width:1%; white-space:nowrap; color:#555; background-color:#ccc; cursor:pointer; vertical-align: middle; border-right:1px solid #aaa;}
	.fileinput-btn:hover{background-color:#c3c3c3;}
		.fileinput-btnblock{display:block; padding:15px 15px; position:relative;}
			.fileinput-wrap .fileinput{position:absolute; left:0; top:0; width:100%; height:100%; padding:0; margin:0; background:none; direction:ltr; cursor:pointer; opacity:0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";}
			.fileinput-btntxt{display: inline-block; font-size:15px;}
	.fileinput-remove{display:none; width:1%; white-space:nowrap; font-size:24px; line-height:24px; color:#555; background-color:#ccc; cursor:pointer; vertical-align: middle; border-right:1px solid #aaa;}
	.fileinput-remove:hover{background-color:#c3c3c3;}
	.fileinput-txtfield{display:table-cell; width:100%; padding:10px; background:#e3e3e3; cursor:not-allowed; vertical-align: middle;}
		.fileinput-filename{font-size:15px;}
		.fileinput-filename .icon{}

/* User */
.fileinput-btn, .fileinput-remove{color:#fff; background-color:#000; border-right:1px solid #000;}
.fileinput-btn:hover, .fileinput-remove:hover{background-color:#000;}
.fileinput-txtfield{padding:18px 10px; color:#000; background-color:#e3e3e3;}


/*-----------------------------------
	Google Map
-----------------------------------*/
.info-window{display:block; width:200px; min-height:20px; color:#333;}
	.info-window h2{margin:0 0 5px 0; font-size:16px; line-height:20px;}
	.info-window p{font-size:13px; line-height:18px;}




/**************************************************************/
/* Accordion */
/**************************************************************/

.accordion-cont{
    margin-bottom:10px;
    border:none;
}

.accordion-title{
    color:#202020;
}

.accordion-toggle{
    cursor: pointer;
    position: relative;
    padding: 17px 40px 16px 20px;
    font-size: 15px;
    min-height: 54px;
    font-weight: bold;
    background-color: #d6d6d6;
}

.accordion-toggle .accordion-icon-wrap{
    @include transition(all 0.3s ease-in-out);
}

.accordion-toggle:hover .accordion-icon-wrap{
    background-color: #000;
    color:#fff;
}

.accordion-icon-wrap{
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    background-color: #a0a0a0;
    color:#000;
    position: absolute;
    top:0px;
    right:0px;
}

.accordion-icon-wrap .icons{
    line-height: 54px;
}

.accordion-cont .accordion-icon{
    @include transition(all 0.3s ease-in-out);
    display: inline-block;
}

.accordion-cont .active{
    @include rotate(180deg);
    margin-top: -1px;
}

.accordion-content{
    display:none;
    padding:20px;
    background-color: #fdfdfd;
    border:1px solid #d6d6d6;
}

.accordion-cont .entry-content p{
    font-size:15px;
    line-height:22px;
    color:#202020;
}

.accordion-cont .entry-content p:last-child{
    margin-bottom:0px;
}
.accordion-content.default{
    display:block;
}


/*-----------------------------------
	Tabs
-----------------------------------*/
.tabs-area{display: block;}
	.tabs-nav-toggle{display: block; position: relative; text-align:center; cursor: pointer;}
	.tabs-nav-toggle:after{content: ''; display: inline-block; margin: 0 0 0 8px; vertical-align: middle; border-top: 5px solid #0d0d0d; border-left: 5px solid transparent; border-right: 5px solid transparent;}
	.tabs-nav-toggle.active:after {border-top: none; border-bottom: 5px solid #0d0d0d; }
	.tabs-nav{display:block; position:relative; text-align:center; margin:0 0 30px 0;}
		.tabs-nav li{display: inline-block; padding:0 15px;}
		.tabs-nav a{display: block;}
	.tabs-content{}
	/* Start - NO slide down */
	/*
	.tabs-content{overflow: hidden; position: relative;}
		.js .tab-sct{}
	*/
	/* Start - Slide down */
	.js .tabs-content{overflow: hidden; height:0; position: relative;}
		.js .tab-sct{ position: absolute; top:0; left:0; width:100%;}
/* Insert Your Styles */
.tabs-nav a{display:block; padding:10px 15px; color:#fff; font-weight:bold; background:skyblue; cursor:pointer; border-radius:5px;}
.tabs-nav a:hover{color:#fff; background:#333;}
.tabs-nav .current a{color:#fff; background:#333;}
.tab-sct{margin:15px 0;}




/*-----------------------------------
	Slick Slider
-----------------------------------*/
/* base */
.slick-slider {position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; } .slick-list {position: relative; display: block; overflow: hidden; margin: 0; padding: 0; } .slick-list:focus {outline: none; } .slick-list.dragging {cursor: pointer; cursor: hand; } .slick-slider .slick-track, .slick-slider .slick-list {-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } .slick-track {position: relative; top: 0; left: 0; display: block; } .slick-track:before, .slick-track:after {display: table; content: ''; } .slick-track:after {clear: both; } .slick-loading .slick-track {visibility: hidden; } .slick-slide {display: none; float: left; min-height: 1px; } [dir='rtl'] .slick-slide {float: right; } .slick-slide img { } .slick-slide.slick-loading img {display: none; } .slick-slide.dragging img {pointer-events: none; } .slick-initialized .slick-slide {display: block; } .slick-loading .slick-slide {visibility: hidden; } .slick-vertical .slick-slide {display: block; height: auto; border: 1px solid transparent; } .slick-arrow.slick-hidden {display: none; }



/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxContent{margin-top:20px;background:#000;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:5px solid #000; background:#fff;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
        #cboxClose:hover{background-position:bottom center;}


		.ui-timepicker-wrapper {
		overflow-y: auto;
		max-height: 150px;
		width: 6.5em;
		background: #fff;
		border: 1px solid #ddd;
		-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
		-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
		box-shadow:0 5px 10px rgba(0,0,0,0.2);
		outline: none;
		z-index: 10001;
		margin: 0;
	}

	.ui-timepicker-wrapper.ui-timepicker-with-duration {
		width: 13em;
	}

	.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
	.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
		width: 11em;
	}

	.ui-timepicker-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.ui-timepicker-duration {
		margin-left: 5px; color: #888;
	}

	.ui-timepicker-list:hover .ui-timepicker-duration {
		color: #888;
	}

	.ui-timepicker-list li {
		padding: 3px 0 3px 5px;
		cursor: pointer;
		white-space: nowrap;
		color: #000;
		list-style: none;
		margin: 0;
	}

	.ui-timepicker-list:hover .ui-timepicker-selected {
		background: #fff; color: #000;
	}

	li.ui-timepicker-selected,
	.ui-timepicker-list li:hover,
	.ui-timepicker-list .ui-timepicker-selected:hover {
		background: #1980EC; color: #fff;
	}

	li.ui-timepicker-selected .ui-timepicker-duration,
	.ui-timepicker-list li:hover .ui-timepicker-duration {
		color: #ccc;
	}

	.ui-timepicker-list li.ui-timepicker-disabled,
	.ui-timepicker-list li.ui-timepicker-disabled:hover,
	.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
		color: #888;
		cursor: default;
	}

	.ui-timepicker-list li.ui-timepicker-disabled:hover,
	.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
		background: #f2f2f2;
	}


		/*!
		 * Pikaday
		 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
		 */

		.pika-single {
		    z-index: 9999;
		    display: block;
		    position: relative;
		    color: #333;
		    background: #fff;
		    border: 1px solid #ccc;
		    border-bottom-color: #bbb;
		    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}

		/*
		clear child float (pika-lendar), using the famous micro clearfix hack
		http://nicolasgallagher.com/micro-clearfix-hack/
		*/
		.pika-single:before,
		.pika-single:after {
		    content: " ";
		    display: table;
		}
		.pika-single:after { clear: both }
		.pika-single { *zoom: 1 }

		.pika-single.is-hidden {
		    display: none;
		}

		.pika-single.is-bound {
		    position: absolute;
		    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
		}

		.pika-lendar {
		    float: left;
		    width: 240px;
		    margin: 8px;
		}

		.pika-title {
		    position: relative;
		    text-align: center;
		}

		.pika-label {
		    display: inline-block;
		    *display: inline;
		    position: relative;
		    z-index: 9999;
		    overflow: hidden;
		    margin: 0;
		    padding: 5px 3px;
		    font-size: 14px;
		    line-height: 20px;
		    font-weight: bold;
		    background-color: #fff;
		}
		.pika-title select {
		    cursor: pointer;
		    position: absolute;
		    z-index: 9998;
		    margin: 0;
		    left: 0;
		    top: 5px;
		    filter: alpha(opacity=0);
		    opacity: 0;
		}

		.pika-prev,
		.pika-next {
		    display: block;
		    cursor: pointer;
		    position: relative;
		    outline: none;
		    border: 0;
		    padding: 0;
		    width: 20px;
		    height: 30px;
		    /* hide text using text-indent trick, using width value (it's enough) */
		    text-indent: 20px;
		    white-space: nowrap;
		    overflow: hidden;
		    background-color: transparent;
		    background-position: center center;
		    background-repeat: no-repeat;
		    background-size: 75% 75%;
		    opacity: .5;
		    *position: absolute;
		    *top: 0;
		}

		.pika-prev:hover,
		.pika-next:hover {
		    opacity: 1;
		}

		.pika-prev,
		.is-rtl .pika-next {
		    float: left;
		    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
		    *left: 0;
		}

		.pika-next,
		.is-rtl .pika-prev {
		    float: right;
		    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
		    *right: 0;
		}

		.pika-prev.is-disabled,
		.pika-next.is-disabled {
		    cursor: default;
		    opacity: .2;
		}

		.pika-select {
		    display: inline-block;
		    *display: inline;
		}

		.pika-table {
		    width: 100%;
		    border-collapse: collapse;
		    border-spacing: 0;
		    border: 0;
		}

		.pika-table th,
		.pika-table td {
		    width: 14.285714285714286%;
		    padding: 0;
		}

		.pika-table th {
		    color: #999;
		    font-size: 12px;
		    line-height: 25px;
		    font-weight: bold;
		    text-align: center;
		}

		.pika-button {
		    cursor: pointer;
		    display: block;
		    box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    outline: none;
		    border: 0;
		    margin: 0;
		    width: 100%;
		    padding: 5px;
		    color: #666;
		    font-size: 12px;
		    line-height: 15px;
		    text-align: right;
		    background: #f5f5f5;
		}

		.pika-week {
		    font-size: 11px;
		    color: #999;
		}

		.is-today .pika-button {
		    color: #33aaff;
		    font-weight: bold;
		}

		.is-selected .pika-button,
		.has-event .pika-button {
		    color: #fff;
		    font-weight: bold;
		    background: #33aaff;
		    box-shadow: inset 0 1px 3px #178fe5;
		    border-radius: 3px;
		}

		.has-event .pika-button {
		    background: #005da9;
		    box-shadow: inset 0 1px 3px #0076c9;
		}

		.is-disabled .pika-button,
		.is-inrange .pika-button {
		    background: #D5E9F7;
		}

		.is-startrange .pika-button {
		    color: #fff;
		    background: #6CB31D;
		    box-shadow: none;
		    border-radius: 3px;
		}

		.is-endrange .pika-button {
		    color: #fff;
		    background: #33aaff;
		    box-shadow: none;
		    border-radius: 3px;
		}

		.is-disabled .pika-button,
		.is-outside-current-month .pika-button {
		    pointer-events: none;
		    cursor: default;
		    color: #999;
		    opacity: .3;
		}

		.pika-button:hover,
		.pika-row.pick-whole-week:hover .pika-button {
		    color: #fff;
		    background: #ff8000;
		    box-shadow: none;
		    border-radius: 3px;
		}

		/* styling for abbr */
		.pika-table abbr {
		    border-bottom: none;
		    cursor: help;
		}
