.images-slider-multi-wrap{
	margin:0px auto;
}
.images-slider-multi{
	padding:0px 0px 60px 0px;
	.images-row-item{
		padding:0px 10px;
	}
	.slick-list{
		display:block;
	}
	.slick-arrow{
		display:block;
		position:absolute;
		top:0;
		bottom:0;
		width:30px;
		height:30px;
		line-height:30px;
		margin:auto 0;
		text-align:center;
		color:#fff; border:none;
		border-radius:40px;
		cursor:pointer;
		z-index:1;
	}
	.slick-prev{
		left:10px;
	}
	.slick-next{
		right:10px;
	}
	.slick-dots{
		display:block;
		position:absolute;
		left:0;
		bottom:10px;
		width:100%;
		padding:10px 0;
		text-align:center;
	}
	.slick-dots li{
		display:inline-block;
		margin:5px;
	}
	.slick-dots button{
		width:12px;
		height:12px;
		text-indent:-9999px;
		background-color:#bebdbd;
		border:none;
		border-radius:20px;
	}
	.slick-active button{
		background-color:#000;
	}

}
