.button-group{
	/*override*/
	.btn{margin-bottom:5px;}
}

.button-group-center{text-align:center;}
.button-group-left{text-align:left;}
.button-group-right{text-align:right;}

.button-group-full{
	.btn{
    width:100%;
    display: block;
}
}

a{
    color: #fff;
    &:hover{
        color: #fff;//override default a color
    }
}


.btn-diagonal {
    display: inline-block;
    padding:15px 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: $fw-bold;
    letter-spacing: 1px;
    position: relative;
    transition: all ease .5s;
     background-image: linear-gradient(45deg, $c3 50%, $c4 50% );
    background-size: 300%, 100%; //background size width, height -- width must be triple button width
    background-repeat: no-repeat;
    background-position: bottom right; //opposite side of gradient direction
}
.btn-diagonal:hover{
      cursor: pointer;
      background-position: bottom left; //opposite side of original background position

}
